.Slider1-Container {
    width: 45%;
    height: 40vh;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
    border-radius: 15px;
    margin-top: 40px;
    left: 300px;
    bottom: 140px;
}

.Slides1 {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.Slide1 {
    min-width: 100%;
    box-sizing: border-box;
}

.Slide1 img {
    width: 100%;
    height: 40vh;
    display: block;
}

.dots1 {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
}

.dot1 {
    height: 4px;
    width: 20px;
    margin-bottom: 50px;
    background-color: aqua;
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.dot.active {
    background-color: grey;
}








@media (max-width: 1200px) {
    .Slider1-Container {
        width: 50%;
        height: 35vh;
        left: 20%;
        bottom: 100px;
    }

    .Slide1 img {
        height: 35vh;
    }
}

@media (max-width: 770px) {
    .Slider1-Container {
        width: 90%;
        height: 35vh;
        left: 1%;
        margin-top: 20%;
        bottom: 50px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    }

    .Slide1 img {
        height: 35vh;
    }

    .dot1 {
        height: 4px;
        width: 25px;
        margin-bottom: 10px;
    }
}